<div class="content bg-light">
  <h2>Kilka informacji o rejsie:</h2>
  <div>
    To już nasz kolejny rejs morski. W tym roku celem będzie podbój wybrzeża polskiego.
    Na wyprawę może wypłynąć maksymalnie 8 osób. Jak na razie chętnych jest więcej, dlatego
    kto pierwszy ten lepszy. Rejs ma przede wszystkich charakter szkoleniowy. Wymagana jest
    tylko podstawowa wiedza żeglarska, którą osoby nie wtajemniczone będą miały okazję nabyć
    z materiałów wysłanych jeszcze przed rejsem, resztę dowiecie się od kapitana oraz oficerów
    wachtowych. W planach mamy również pływania nocne, więc zapowiada się kilka naprawdę
    intensywnych dni podczas, których bezlitośnie będziemy orać Bałtyk. Podziału załogi na
    wachty dokona kapitan w oparciu o wiedzę i umiejętności załogantów.
  </div>

</div>
