<form (ngSubmit)="submit()"
      [formGroup]="form"
      class="contact-form-container">
  <div class="d-flex flex-row">
    <div class="col-md-7">
      <h3>Formularz kontaktowy</h3>
      <div class="form-group">
        <label>Twój email</label>
        <input type="email"
              formControlName="email"
              class="form-control form-control-email">
      </div>
      <div class="form-group">
        <label>Wiadomość</label>
        <textarea type="text"
              formControlName="message"
              class="form-control form-control-message">
        </textarea>
      </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
      <div
        alt="sailing"
        class="contact-form-image w-100">
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary">Wyślij</button>
</form>
