.contact-form-container {
  background-color: white;
  width: 80%;
  margin: 3rem auto;
  padding: 1rem;
  text-align: left;
}

.form-group{
  margin: 1rem;
}

.form-control-email{
  width: 80%;
}

.contact-form-image{
  min-height: 20rem;
  margin-bottom: 1rem;
  background-image: url(../../../assets/contact-form-image.jpg);
  background-position: center center;
  background-size: cover;
}

@media (max-width: 979px) {
  .contact-form-container{
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .contact-form-container{
    width: 1000px;
  }
}
