@import "./node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.content{
  text-align: center;
  justify-content: center;
  margin: 3rem 1rem;
}

.content-item{
 padding: 1rem 2rem;
 margin: 1rem;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
