<div class="content bg-light">
  <h2>Rejsy i szkolenia żeglarskie.</h2>
  <div>
    Zapraszam Cię na organizowane przeze mnie rejsy i szkolenia żeglarskie. Odbywają się one zarówno na Bałtyku,
    jak i cieplejszych morzach. Jaka dziś pogoda na Bałtyku?
  </div>
  <iframe
    src="https://www.meteoblue.com/en/weather/maps/widget/gdansk_poland_3099434?windAnimation=0&windAnimation=1&gust=0&gust=1&satellite=0&satellite=1&cloudsAndPrecipitation=0&cloudsAndPrecipitation=1&temperature=0&temperature=1&sunshine=0&sunshine=1&extremeForecastIndex=0&extremeForecastIndex=1&geoloc=fixed&tempunit=C&windunit=km%252Fh&lengthunit=metric&zoom=5&autowidth=auto"
    frameborder="0"
    scrolling="NO"
    allowtransparency="true"
    sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
    ></iframe>
  <div>Żródło:
    <!-- do not remove this link due to condition of usage widget -->
    <a
      href="https://www.meteoblue.com/en/weather/maps/gdansk_poland_3099434?utm_source=weather_widget&utm_medium=linkus&utm_content=map&utm_campaign=Weather%2BWidget"
      target="_blank"
      rel="noopener">meteoblue</a>
  </div>
</div>
